@{
    ViewBag.Title = "StockManager";
}

@using SmartStock.Core.Models
@model List<DailyDealOrderInfo>

<table id="DailyDealOrderDataTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>操作</th>
            <th>成交数量</th>
            <th>成交均价</th>
            <td>成交金额</td>
            <td>成交编号</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr data-orderid="@order.ID" data-tradingcode="@order.TradingCode">
                <td>@order.StockCode</td>
                <td>@order.StockName</td>
                <td>@order.BuySellTypeDescription</td>
                <td>@order.TradingNumber</td>
                <td>@order.TradingPrice</td>
                <td>@order.TradingAmount</td>
                <td>@order.TradingCode</td>
                <td>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="取消选择" class="btn btn-xs btn-default unPickupAction"><i class="fa fa-remove"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>



